/* for desktop */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.navber {
    padding: 1% 7%;
    text-align: center;
}

.navber-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navber-menu a {
    text-align: center;
    padding: 8px 17px;
    color: white;
    background-color: transparent;
    margin: 20px;
    border-radius: 1px;
    text-decoration: none;
    margin-top: 30px
}

.navber-menu a:hover {
    background-color: green;
}

.navber {
    background-color: #d36240;
    padding: 1% 7%;
    text-align: center;
}

.profile-desc p {
    width: 50%;
}

.aboutme-image img {
    margin-top: 150px;
}

.aboutme-desc p {
    text-transform: capitalize;
    text-align: start;
}

/* about me desktop */

.Contact {
    margin-left: 12px;
    padding: 1px 2px;
    text-align: center;
}

.Contact textarea {
    resize: none;
}

.contact-link {
    position: relative;
}

.media-buttons {
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-content ul li {
    text-align: center;
    list-style: none;
    float: none;
    margin-right: 20px;
    display: inline;
}